body {
  background-color: #eff2f5;
  color: #5e5873;
  margin: 0
}

.main-container {
  margin: 15px 15px 15px 275px;
  transition: 0.2s;
}

.main-container.toggle {
  margin-left: 100px;
  transition: 0.3s;
}

.header-navbar {
  border-radius: 10px;
  background-color: #ffffff;
  padding:0 10px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.header-navbar .ant-menu-item {
  padding: 0 10px !important;
}

.header-navbar .right .username {
  margin-right: 10px;
}

.logo {
  background-color: #ffffff;
  padding: 20px;
}

.logo img {
  height: 40px;
  width: 40px;
}

.logo span{
  line-height: 36px;
  vertical-align: middle;
  color: #40b883!important;
  font-weight: 600;
  font-size: 1.714rem;
  margin-left: 10px;
}

.main-aside {
  position: fixed;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.main-footer {
  color: #6e6b7b;
  line-height: 60px;
  padding: 0;
}

.main-menu {
  position: relative;
  height: 100%;
  overflow: auto;
}

.main-footer {
  color: #6e6b7b;
  line-height: 60px;
  padding: 0;
}

.authentication-inner {
  overflow-y: auto;
  width: 100%;
  position: relative;
  min-height: calc(1vh * 100);
}

.authentication-inner .logo {
  background-color: #eff2f5;
  padding: 0 20px;
}

.authentication-aside {
  background-color: #ffffff;
  padding: 4rem!important;
}

.authentication-aside-main {
  margin-top: calc(1vh * 18);
}

.picture-captcha .ant-input-group-addon{
  padding: 0;
}

.ant-breadcrumb {
  margin: 20px 0;
}